.contact-page{
    margin: auto;
    width: 90vw;
    height: 85vh;
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-border{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    margin: auto;
    box-shadow:  10px 6px rgba(0, 0, 0, 1);
    border: 2px solid black;
}

/* LEFT SIDE */

.contact-left{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 30px;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(252, 242, 224);
}
.contact-hide{
    display: none;
}
.contact-title{
    color: #171830;
    font-size: 3vw;
    font-weight: 800;
    white-space: nowrap;
}
.contact-text{
    color: #171830;
    font-size: 13px;
    margin: 20px auto 0 auto;
    width: 90%;
    text-align: center;
}
.contact-svg{
    width: 270px;
    height: 210px;
    margin-top: 40px;
}

/* END LEFT SIDE */

/* RIGHT SIDE */
.contact-right{
    width: 50%;
    height: 100%;
    color:#171830; 
    padding: 70px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #232447;
}

/* form */

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* inputs */

.group{ 
  position:relative; 
  margin-bottom:45px; 
}
.input-contact{
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  color:rgb(250, 235, 208); 
  background-color: #232447;
  border-bottom:1px solid rgb(250, 235, 208);
}
.input-contact:focus{ 
    outline:none; 
}

/* LABEL ======================================= */
.label-contact{
    color:rgb(250, 235, 208); 
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 0;
    top: -10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* active state */
.input-contact:focus ~ .label-contact, .input-contact:valid ~ .label-contact{
  top:-25px;
  font-size:14px;
  color:rgba(250, 235, 208, 0.6);
}

/* BOTTOM BARS ================================= */
.bar{ 
    position:relative; 
    display:block; 
    width:300px;
}

.bar:before, .bar:after 	{
    content:'';
    height:3px; 
    width:0;
    bottom:-1px; 
    position:absolute;
    background:#171830; 
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.input-contact:focus ~ .bar:before, .input-contact:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.input-contact:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* SUBMIT BUTTON*/

.contact-submit{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(250, 235, 208);
    color:  rgb(250, 235, 208);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.contact-submit:hover{
    transform: scale(1.1);
    background: rgb(250, 235, 208);
    color:  #171830;
}
/* END RIGHT SIDE */


@media (max-width: 1000px){
    .contact-page{
        margin: auto;
        width: 85vw;
        height: 100%;
        padding: 40px 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form-border{
        flex-direction: column;
        margin: auto;
        box-shadow: none;
        border: none;
    }

    /* LEFT SIDE */
    /* .contact-left{
        width: 80%;
        border-radius: 10px;
        box-shadow:  10px 8px rgba(252, 242, 224, .6);
        border: 2px solid rgb(252, 242, 224);
    } */
    .contact-left{
       display: none;
    }

    .contact-hide{
        display: block;
        color: rgb(250, 235, 208);
        text-align: center;
        font-size: 38px;
        font-weight: 800;
        white-space: nowrap;
    }
    .contact-title{
        font-size: 4vw;
    }
    .contact-svg{
        width: 250px;
        height: 170px;
    }
     .contact-text{
        font-size: 12px;
    }

    /* RIGHT SIDE */

    .contact-right{
        width: 80%;
        margin: 40px auto;
        border-radius: 10px;
        box-shadow:  10px 8px rgba(0, 0, 0, 1);
        border: 2px solid black;
    }
}

@media (max-width: 620px){
    .contact-left{
        width: 100%;
    }
    .contact-right{
        width: 100%;
    }
    .contact-hide{
        font-size: 28px;
    }
    .contact-title{
        font-size: 3.8vw;
    }
    .contact-text{
        width: 100%;
        font-size: 11px;
    }
    .contact-svg{
        width: 180px;
        height: 140px;
    }

    /* input */

    .input-contact{
        font-size:14px;
        padding:10px 10px 10px 5px;
        width:200px;
        margin: auto;
    }

    .label-contact{
        font-size:15px;
    }

    /* BOTTOM BARS ================================= */
    .bar{ 
        width:200px;
    }
}
@media (max-width: 480px){
    .contact-page{
        margin: 0px auto;
        margin-top: -40px;
        width: 80vw;
        padding: 0px 30px;
        height: 100%;    
    }

    .contact-left{
        width: 100%;
        margin-top: 60px;
    }

    .contact-hide{
        font-size: 22px;
        margin-top: 60px;
        font-weight: 600;
    }
    .contact-right{
        width: 100%;
    }

    .contact-title{
        font-size: 5vw;
    }
     .input-contact{
        font-size:14px;
        padding:10px 10px 10px 5px;
        width:170px;
        margin: auto;
    }

    /* BOTTOM BARS ================================= */
    .bar{ 
        width:170px;
    }

}