
.video-dash-page{
    margin: auto;
    margin-top: 60px; 
}
.video-js-dash{
    margin:  -20px auto;
}
.video-title {
    color: rgb(245, 126, 126);
    font-size: 50px;
    letter-spacing: 9px;
    cursor: pointer;
    justify-self: flex-start;
    margin: auto;
    position: relative;
    text-align: center;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    text-shadow: 3px 3px rgba(0, 0, 0, .6);
    
}




 @media (max-width: 1000px){
    .video-js-dash{
        width: 660px;
        height: 320px;
        margin-top: 30px;
    }
}
 
@media (max-width: 900px){
    .video-js-dash{
        width: 570px;
        height: 300px;
        margin-top: -50px;
    }
}
@media (max-width: 800px){
    .video-js-dash{
        width: 500px;
        height: 270px;
        margin-top: -35px;
    }
}

  

@media (max-width: 670px){
    .video-dash-page{
        margin-top: 80px; 
    }
    .video-title {
        font-size: 38px;
        margin-top: 0px;   
    }
    .video-js-dash{
        width: 450px;
        height: 206px;
        margin-top: -45px;
    }
   
}
@media (max-width: 550px){
    .video-title {
        font-size: 37px;
        margin-top: 0px;
        letter-spacing: 2px;
        
    }
     .video-js-dash{
        width: 360px;
        height: 200px;
    }
}

@media (max-width: 450px){
    .video-title {
        font-size: 24px;
        margin-top: 0px;
        white-space: nowrap;
        
    }

    .video-js-dash{
        width: 250px;
        height: 125px;
    }
}