.games-hearts {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 80%;
  z-index: 10;
}

.tomorrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border-radius: 60% 40% 60% 40% / 60% 41% 59% 40%;
  margin: 100px auto;
  position: relative;
  background: rgb(245, 126, 126);
  animation: pumping 2.5s infinite;
  cursor: grab;
  z-index: 10;
}

.behind-eyes {
  position: absolute;
  left: 50%;
  top: 52.5%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 230px;
}


.tomorrow .nothing {
  text-align: center;
  color: white;
  border-radius: 50%;
  width: 115px;
  height: 130px;
  background-color: #171830;
}

.riddle-input {
  color: #171830;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  padding: 5px 10px;
}

.spanY {
  color: rgb(245, 126, 126);
}

.pills-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 64px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: -1;
}

.red-pill-tom {
  color: rgb(245, 126, 126);
  transform: rotate(90deg);
}

.blue-pill-tom {
  color: #171830;
}

@keyframes pumping {
  0% {
    transform: scale(0.91);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.91);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media (max-width: 870px) {
  .games-hearts {
    width: 70%;
    z-index: 10;
    margin-top: 40px;
  }
  .tomorrow {
    width: 190px;
    height: 190px;
    margin: 80px auto;
  }
  .tomorrow .nothing {
    width: 80px;
    height: 95px;
    font-size: 15px;
  }

  .behind-eyes {
    left: 50%;
    top: 54.5%;
    gap: 166px;
  }

  .pills-background {
    width: 50px;
    height: 66px;
    background-color: white;
  }
}
@media (max-width: 670px) {
  .games-hearts {
    gap: 60px;
  }
  .tomorrow {
    width: 170px;
    height: 170px;
    margin: 65px auto;
  }
  .tomorrow .nothing {
    width: 67px;
    height: 87px;
    font-size: 15px;
  }

  .behind-eyes {
    gap: 170px;
    top: 49%;
  }

  .pills-background {
    width: 45px;
    height: 58px;
  }
}

@media (max-width: 520px) {
  .title-tomorrow {
    max-width: 70%;
    margin: auto;
    margin-top: -10px;
    font-size: 35px !important;
  }
  .games-hearts {
    gap: 30px;
  }

  .tomorrow {
    margin: 60px auto;
    width: 170px;
    height: 130px;
  }

  .tomorrow .nothing {
    width: 60px;
    height: 80px;
    font-size: 13px;
  }

  .behind-eyes {
    gap: 116px;
    top: 48.3%;
  }

  .pills-background {
    width: 42px;
    height: 49px;
    background-color: white;
  }
}
