.tomorrow{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  background: rgb(245, 126, 126);
  animation: pumping 2.5s infinite;
  cursor: pointer;
}
.tomorrow-input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  background: rgb(245, 126, 126);
  cursor: pointer;
}
.tomorrow .nothing {
    text-align: center;
}

.riddle-input{
  color: #171830;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  padding: 5px 10px;

}

.spanY{
  color: rgb(245, 126, 126);
}

@keyframes pumping {
  0% {
    transform: scale(0.91);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.91);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}