.countdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60vh;
    color: #e2d5d9;
    text-align: center;
    font-weight: bold;
    font-size: 120px;
  /*-----------------------*/
  text-shadow: 1px 1px #a54848, 2px 2px #a54848, 3px 3px #a54848, 4px 4px #a54848, 5px 5px #a54848, 6px 6px #a54848, 7px 7px #a54848;
}

.countdown-one{
    visibility: hidden;
    opacity: 0;
    animation: appear 1.2s ease-in-out 1 normal .3s;
}
.countdown-two{
    visibility: hidden;
    opacity: 0;
    animation: appear 1.2s ease-in-out 1 normal 1.3s;
}
.countdown-three{
    visibility: hidden;
    opacity: 0;
    animation: appear 1.2s ease-in-out 1 normal 2.4s;

}

@keyframes appear {
    40%, 60%{ 
        visibility: visible;
        opacity: 1; 
	}
}


@media (min-width: 560px){
    .countdown{
        font-size: 150px;
    }
}

@media (min-width: 760px){
    .countdown{
        font-size: 180px;
    }
}