.rock-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 85%;
    margin: 80px auto 60px auto;
  
}

.elements{
    cursor: pointer;
    padding: 5px;
    margin: auto 10px;
    min-width: 70px;
    max-width: 75px;
    /* margin: auto 70px; */
}

.svg{
    width: 40px;
    height: 40px;
    margin: auto;
    
}

.versus{
    width: 50px;
    height: 50px;
    margin-bottom: 55px;
    padding-top: 0px;
}

.result-buttons{
    display: flex;
    gap: 40px;
}



/* ICON TEXTS */

.text-icons{
    margin-top: 20px;
    text-align: center;
    
}



.svg:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}




/* toggle background class */
.background-icon{
    background-color: #ff6a95;
    border-radius: 5%;
}



@media (min-width: 500px) {
    .svg{
        width: 70px;
        height: 70px;
    }
    .versus{
        width: 80px;
        height: 80px;
    }

    .rock-icons{
        font-size: 18px;
        width: 100%;
        margin-top: 120px;
    }

    .elements{
        cursor: pointer;
        padding: 5px;
        margin: auto 30px;
        /* margin: auto 70px; */
    }

}

@media (min-width: 992px){
    .rock-icons{
        margin-bottom: 30px;
    }
    .svg{
        width: 135px;
        height: 135px;
    }
    .versus{
        width: 135px;
        height: 135px;
    }

    .elements{
        cursor: pointer;
        padding: 5px;
        margin: auto 80px;
        /* margin: auto 70px; */
    }
}


@media (min-width: 1500px){
    .rock-icons{
        margin-top: 130px;
        margin-bottom: 120px;
    }
 

    .elements{
        cursor: pointer;
        padding: 5px;
        margin: auto 80px;
        /* margin: auto 70px; */
    }
}






