.dash-cards-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 150px;
}

.block-dash{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    flex-direction: column;
}
.block-dash-video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    gap: 0px 70px;
    margin-bottom: 80px;
    flex-direction: column;
}

.center-absolute{
    display: absolute;
    top: 230px;
    
}

@media(max-width: 470px){
    .dash-cards-page{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95vw;
        position: relative;
        margin-top: 150px;
    }
}