.dash-cards-page{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    position: relative;
}

.block-dash{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.block-dash img{
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}
.block-dash-video{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-absolute{
    display: absolute;
    top: 230px;
    
}

.full-screen{
   position: fixed;
  top: 0;
  left: 0;
  width:200%;
  height: 100%;
}


@media(max-width: 1200px){
    .dash-cards-page{
        width: 90%;
    }
}
@media(max-width: 900px){
    .dash-cards-page{
        margin-top: 170px;
        width: 90%;
    }
    .block-dash img{
        margin-top: 30px;
    }
}
@media(max-width: 570px){
    .dash-cards-page{
        width: 100%;
        position: relative;
        margin-top: 150px;
    }
}
@media(max-width: 470px){
    .dash-cards-page{
        margin-top: 40px;
        width: 100%;
        position: relative;
    }
    .block-dash{
        margin-bottom: 60px;
    }
}