.footer-page {
  margin: 170px auto 0px auto;
  width: 100;
  height: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

/* block with animations */
.full-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding: 20px 0px;
  position: relative;
  /* -webkit-animation: linear 1 forwards;
    -webkit-animation-name: display-footer;
    -webkit-animation-duration: 1.7s; */
}

/* rounded balls left and right */
.full-footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  left: 95px;
  border: 0.9px solid white;
  /* -webkit-animation: linear 1 forwards;
    -webkit-animation-name: run-right;
    -webkit-animation-duration: 1.7s; */
}
.full-footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  right: 95px;
  border: 0.9px solid white;
  /* -webkit-animation: linear 1 forwards;
    -webkit-animation-name: run-left;
    -webkit-animation-duration: 1.7s; */
}

/* footer content */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 100%;
  padding: 5px;
  gap: 20px;
}

.top-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0px 20px;
  width: 87%;
  height: 85%;
}
.footer-block {
  padding: 15px;
  height: 100%;
  width: 100%;
  position: relative;
  transition: all .4s;
}
.footer-block:hover {
  transform: scale(1.25);
}


@keyframes moveIt {
  0%,
  100% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

.footer-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  animation: moveIt 4.5s ease-in-out infinite;
}
.svg-paper:hover {
  transform: scale(1.33);
}

/* block title */
.block-title {
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 0px 1.2px 0px #b2a98f, 0px 3px 1px rgba(0, 0, 0, 0.15),
    0px 5px 2px rgba(0, 0, 0, 0.15), 0px 7px 4px rgba(0, 0, 0, 0.15);

  font-weight: 600;
  margin-bottom: 44px;
}
.block-title sub {
  margin: 0px 3px;
  text-shadow: none;
  font-weight: 600;
  font-size: 1rem;
  color: #fdca87;
}

/* bottom footer */

.bottom-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  gap: 0px 10px;
  font-size: 0.8rem;
  height: 20%;
  width: 101.2%;
  border-radius: 20px;
  border: 0.9px solid white;
  margin-top: 20px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 8px;
  flex-direction: row;
}

.work-around-basement {
  margin-top: 45vh;
}
.center-absolute-footer {
  position: absolute;
  top: 60%;
}

/* end footer content */

/* media queries */

@media (max-width: 1200px) {
  /* hide part of footer  */
  .footer-hide {
    display: none;
  }
}

@media (max-width: 1070px) {
  .footer-page {
    padding: 10px;
  }

  .block-title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .full-footer:after {
    width: 34px;
    height: 34px;
    left: 60px;
  }
  .full-footer:before {
    width: 34px;
    height: 34px;
    right: 60px;
  }

  /* block inside shapes */

  .footer-block:nth-child(2):after {
    height: 140px;
    left: -15px;
    width: 13px;
  }
  .footer-block:nth-child(2):before {
    height: 140px;
    right: -15px;
    width: 13px;
  }

  .bottom-footer{
    width: 104.2%;
  }
}

@media (max-width: 850px) {
  .block-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: -10px;
  }

  .top-footer {
    width: 100%;
  }

  .full-footer:after {
    width: 25px;
    height: 25px;
  }
  .full-footer:before {
    width: 25px;
    height: 25px;
  }
  .full-footer:after {
    display: none;
  }
  .full-footer:before {
    display: none;
  }
  .footer-content {
    gap: 0px;
  }
  .top-footer {
    gap: 0px 20px;
    height: 75%;
  }
  .footer-block {
    height: 80%;
  }

  /* block inside shapes */

  .footer-block:nth-child(2):after {
    left: -15px;
    top: 60px;
    width: 10px;
    height: 140px;
  }
  .footer-block:nth-child(2):before {
    right: -15px;
    top: 60px;
    width: 10px;
    height: 140px;
  }

  .bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px 0px;
    font-size: 0.7rem;
    height: 15%;
    width: 113%;
    margin-top: -10px;
  }
  .center-absolute-footer {
    top: 45%;
  }
}

@media (max-width: 700px) {
  .footer-page {
    padding: 0px;
    gap: 0px;
    width: 98%;
  }

  .full-footer {
    margin: 0px auto;
    padding: 0;
    width: 100%;
  }

  .top-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px 0px;
    margin: 0px;
    width: 110%;
  }
  .footer-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 0px 70px;
  }
  .footer-block:nth-child(2) {
    flex-direction: row-reverse;
  }

  #footer-svgs {
    width: 150px;
  }

  .center-absolute-footer {
    position: absolute;
    bottom: 53%;
  }

  .bottom-footer {
    display: none;
  }
}
@media (max-width: 480px) {
  .footer-page {
    width: 85%;
    margin: auto;
    margin-top: 150px;
  }
  .footer-block{
    height: 160px;
  }
  .footer-block:nth-child(2):after {
    display: none;
  }
  .footer-block:nth-child(2):before {
    display: none;
  }
  .full-footer:after {
    display: none;
  }
  .full-footer:before {
    display: none;
  }
}