.footer-page{
    margin: 310px auto 70px auto;
    width: 100%;
    height: 420px;
    position: relative;
    padding: 10px;
}

/* block with animations */
.full-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    border-top: 2px solid #f66;
    border-bottom: 2px solid #f66;
    padding: 20px 0px;
    position: relative;
    -webkit-animation: linear 1 forwards;
    -webkit-animation-name: display-footer;
    -webkit-animation-duration: 1.7s;
}

@keyframes display-footer {
  0% {
    height: 50px;
  }

  50% { 
    height: 50%;

   }
   99.9%{
    border-top: 2px solid #f66;
    border-bottom: 2px solid #f66;
   }
  100% {
    height: 100%;
    border-top: none;
    border-bottom: none;   
  }
}

/* rounded balls left and right */
.full-footer:after{
    content: "";
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    left: 20px;
    border: 2px solid #f66;
    -webkit-animation: linear 1 forwards;
    -webkit-animation-name: run-right;
    -webkit-animation-duration: 1.7s;
}
.full-footer:before{
    content: "";
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    right: 20px;
    border: 2px solid #f66;
    -webkit-animation: linear 1 forwards;
    -webkit-animation-name: run-left;
    -webkit-animation-duration: 1.7s;
}

/* animation for rounded balls */

@keyframes run-right {
  0% {
    left: 0;
  }
  30% {
    border: 2px solid white;
    background-color: white; 
  }
  100% { 
    left: calc(100% - 44px);

   }
}
@keyframes run-left {
  0% {
    right: 0;
  }
  30% {
    border: 2px solid white;
    background-color: white; 
  }
  100% { 
    right: calc(100% - 44px);
   }
}

/* end animation for rounded balls */

/* end rounded balls left and right */


/* footer content */
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 100%;
    padding: 5px;
    gap: 20px;
}
/* footer content fade in */
.footer-content{
  animation: fadeInAbout 3s ease-out;
  -webkit-animation: fadeInAbout 3s ease-out;
  -moz-animation: fadeInAbout 3s ease-out;
  -o-animation: fadeInAbout 3s ease-out;
  -ms-animation: fadeInAbout 3s ease-out;

}
@keyframes fadeInAbout {
  0% {opacity:0;}
  60%{opacity: 0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeInAbout {
  0% {opacity:0;}
  60%{opacity: 0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeInAbout {
  0% {opacity:0;}
  60%{opacity: 0;}
  100% {opacity:1;}
}

@-o-keyframes fadeInAbout {
  0% {opacity:0;}
  60%{opacity: 0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeInAbout {
  0% {opacity:0;}
  60%{opacity: 0;}
  100% {opacity:1;}
}
/* top of footer */

.top-footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 0px 20px;
    width: 100%;
    height: 85%;
}
.footer-block{
    padding: 15px;
    height: 100%;
    width: 100%;
    position: relative;
}
.footer-block:nth-child(2):after{
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 0px;
    width: 15px;
    height: 240px;
    border-radius: 10px;
    border: 2px solid #f66;
}
.footer-block:nth-child(2):before{
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 0px;
    width: 15px;
    height: 240px;
    border-radius: 10px;
    border: 2px solid #f66;
}

/* block inside shapes */
.circle-1,
.circle-2,
.circle-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10%;
    width: 160px;   
    height: 140px;
    margin: auto;
    margin-top: 35px;
}

.inner-circle-1,
.inner-circle-2,
.inner-circle-3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;   
  height: 70px;
  margin: auto; 
}

.click-mouse{
  animation: moveIt 2.5s ease-in-out infinite;
  color: #171830;
}

@keyframes moveIt {
  0%, 100% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

.circle-1 {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.inner-circle-1{
    background: rgba(239, 128, 67);
    border-radius: 80% 30% 50% 50%/50%;
}

.circle-2 {
    background: #ef8043;
    border-radius: 80% 30% 50% 50%/50%;
}
.inner-circle-2{
    background: rgba(255, 214, 138, 0.4);
    border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

.circle-3 {
    background: #FFD68A;
    border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}
.inner-circle-3{
    background: rgba(255, 102, 102, 0.7);
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}


/* block title */
.block-title{
    text-align: center;
    font-size: 1.1rem;
    text-shadow: 0px 1.2px 0px #b2a98f,
                 0px 3px 1px rgba(0,0,0,0.15),
                 0px 5px 2px rgba(0,0,0,0.15),
                 0px 7px 4px rgba(0,0,0,0.15);
                 
       
    font-weight: 600;
}
.block-title sub{
    margin: 0px 3px;
    text-shadow: none;
    font-weight: 600;
    font-size: 0.7rem;
}

/* bottom footer */

.bottom-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px 10px;
    font-size: 0.8rem;
    height: 20%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #f66;
}

.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 8px;
    flex-direction: row;
}

.work-around-basement{
  margin-top: 45vh;
}


/* end footer content */


/* media queries */

/* hide part of footer */

@media(max-width: 1070px){
  .footer-page{
      padding: 10px;
  }

  .block-title{
    font-size: 1.1rem;  
    font-weight: 600;
  }

    .full-footer:after{
      width: 34px;
      height: 34px;
      left: 0px;
  }
  .full-footer:before{
      width: 34px;
      height: 34px;
      right: 0px;
  }

  /* block inside shapes */
  .circle-1,
  .circle-2,
  .circle-3 {
      width: 110px;   
      height: 90px;
  }

  .inner-circle-1,
  .inner-circle-2,
  .inner-circle-3{
    width: 50px;   
    height: 40px;
  }

  .click-mouse{
    width: 16px;
  }

  .footer-block:nth-child(2):after{
      left: -15px;
      top: 10px;
      width: 10px;
      height: 210px;
  }
  .footer-block:nth-child(2):before{
      right: -15px;
      top: 10px;
      width: 10px;
      height: 210px;
  }


  /* hide part of footer */

  .footer-hide{
    display: none;
  }
}



@media(max-width: 840px){
  
  .block-title{
    font-size: .94rem;  
    font-weight: 600;
  }

  .full-footer:after{
      width: 25px;
      height: 25px;
  }
  .full-footer:before{
      width: 25px;
      height: 25px;
  }
    .footer-content{
      gap: 0px;
  }
  .top-footer{
      gap: 0px 20px;
      height: 75%;

  }
  .footer-block{
      height: 80%;
  }

  /* block inside shapes */
  .circle-1,
  .circle-2,
  .circle-3 {
      width: 90px;   
      height: 70px;
  }

  .inner-circle-1,
  .inner-circle-2,
  .inner-circle-3{
    width: 40px;   
    height: 30px;
  }

  .click-mouse{
    width: 13px;
  }

  .footer-block:nth-child(2):after{
      left: -15px;
      top: 10px;
      width: 10px;
      height: 180px;
  }
  .footer-block:nth-child(2):before{
      right: -15px;
      top: 10px;
      width: 10px;
      height: 180px;
  }

  .bottom-footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 0px 0px;
    font-size: 0.7rem;
    height: 15%;
    width: 113%;
  }

}

@media (max-width: 600px){
  .footer-page{
    margin: 275px auto 30px auto;
    height: 530px;
    position: relative;
    padding: 10px;
}
  .top-footer{
      display: flex;
      align-items: center;
      justify-content:center;
      flex-direction: column;
      gap: 80px 0px;
      margin-bottom: 30px;
      width: 100%;
      height: 85%;
  }
  .footer-block{
      display: flex;
      align-items: center;
      justify-content:center;
      padding: 0px;
      gap: 0px 70px;
  }
  .footer-block:nth-child(2){
      flex-direction: row-reverse;
  }
   .footer-block:nth-child(2):after{
      left: 8%;
      top: 126px;
      width: 82%;
      height: 10px;
  }
  .footer-block:nth-child(2):before{
      left: 8%;
      top: -39px;
      width: 82%;
      height: 10px;
  }

/* rounded balls left and right */
  .full-footer:after{
      opacity: 0;
      -webkit-animation: linear 1;
      -webkit-animation-name: run-right-mobile;
      -webkit-animation-duration: 3.5s;
  }
  .full-footer:before{
      opacity: 0;
      -webkit-animation: linear 1;
      -webkit-animation-name: run-left-mobile;
      -webkit-animation-duration: 3.5s;
  }

  /* animation for rounded balls */

  @keyframes run-right-mobile {
    0% {
      left: 0;
      opacity: 1;
    }
    30% {
      border: 2px solid white;
      background-color: white; 
    }
    50% { 
      left: calc(100% - 44px);

    }
    99.9%{
      opacity: 1;
    }
    100% {
      left: 0;
      opacity: 0;    
    }
  }
  @keyframes run-left-mobile {
    0% {
      right: 0;
      opacity: 1;
    }
    30% {
      border: 2px solid white;
      background-color: white; 
    }
    50% { 
      right: calc(100% - 44px);
    }
     99.9%{
      opacity: 1;
    }
    100% {
      right: 0;
      opacity: 0;    
    }
  }

/* end animation for rounded balls */

/* end rounded balls left and right */

  .circle-1,
  .circle-2,
  .circle-3 {
      width: 80px;   
      height: 60px;
      margin-top: 25px;
  }
  .inner-circle-1,
  .inner-circle-2,
  .inner-circle-3{
    width: 35px;   
    height: 25px;
  }

  .bottom-footer{
    margin-top: 40px;
    display: grid;
    width: 100%;
    padding: 10px 0px;
    gap: 10px 0px;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px){

  .footer-block{
      gap: 0px 30px;
  }
  .footer-block:nth-child(2){
      flex-direction: row-reverse;
  }
   .footer-block:nth-child(2):after{
      left: 8%;
      top: 106px;
      width: 82%;
      height: 10px;
  }
  .footer-block:nth-child(2):before{
      left: 8%;
      top: -39px;
      width: 82%;
      height: 10px;
  }
  .full-footer:after{
    left: -15px;
}
  .full-footer:before{
      right: -15px;

  }

  .circle-1,
  .circle-2,
  .circle-3 {
      width: 65px;   
      height: 45px;
      margin-top: 25px;
  }

  .bottom-footer{
    margin-top: 40px;
    display: grid;
    height: 200px;
    width: 135%;
    font-size: .6rem;
    padding: 10px 0px;
    gap: 10px 10px;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}