/* CARDS FOR EACH PROJECTS */

.project-card{
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: 310px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: white;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;

    /* border: 1.4px solid rgb(253, 202, 135); */
    box-shadow: 8px 8px rgba(0, 0, 0, .8);
    border: 3.3px solid black;
    /* box-shadow: 20px 20px 50px 15px rgba(0, 0, 0, .9); */
}
.project-card:hover{
    transform: scale(1.08);
}

/* TITLE FOR THE PROJECT */






/* PROJECT SUBTITLE */


.project-title {
    color: rgb(253, 202, 135);
    font-size: 33px;
    letter-spacing: 2px;
    cursor: pointer;
    margin: -50px auto 0 auto;
    position: relative;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;

    
}
.project-title p{
    font-weight: 100; 
}


/* .project-title::before {
    content: '';
    position: absolute;
    width: 96%;
    height: 3px;
    bottom: 0px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    
} */

.project-subtitle{
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
    width: 250px;
    text-align: center;
    margin-top: 10px;
}

.lang-fram{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    font-size: 11px;
     grid-template-areas: 
    "uno dos"
    "tres cuatro";
}

.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.cuatro{
    grid-area: cuatro;
}

.project-top{
    margin: 0px 0px;
    width: 95px;
    height: 70px;
    border-radius: 10px;
    color: #171830;
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 1.2px solid white;
}

.project-icon{
    margin: 5px auto;
    width: 43px;
    height: 43px;
}

.project-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    border-radius: 10px;
}

.project-svg{
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 50px;
}
.plus-icon-projects{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}
.plus-icon-projects:hover{
    transform: scale(1.15);
    transition: .6s ease;
}

.shape-fill {
    fill: #F57E7E;
}


@media (max-width: 870px){
    .project-card{
        width: 270px;
    }


    .project-title {
        font-size: 31px;
        
    }
    .project-subtitle{
        font-size: 13.8px;
        width: 230px;
    }

    .project-top{
        margin: 4px 0px;
        width: 85px;
        height: 65px;
        border-radius: 10px;
        color: #171830;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-icon{
        margin: 5px auto;
        width: 40px;
        height: 35px;
    }
}

@media (max-width: 700px){
    .project-card{
        margin-top: 50px;
    }
   

}
@media (max-width: 550px){
    
    .project-card{
        width: 250px;
        height: 360px;
    }
    .project-title {
        font-size: 30px;
        letter-spacing: 3px;
        
    }

    .project-subtitle{
        font-size: 13px;
        width: 210px;
    }

    .lang-fram{
        gap: 10px;
    }

    .project-top{
        margin: 0px 0px;
        width: 75px;
        height: 60px;
    }

    .project-icon{
        width: 36px;
        height: 31px;
    }

    .project-svg{
        position: relative;
        display: block;
        width: calc(168% + 1.3px);
        height: 40px;
    }
    .plus-icon-projects{
        right: 6px;
        bottom: 6px;
    }
    .plus-icon-projects:hover{
        transform: scale(1.1);
        transition: .6s ease;
    }


}
@media (max-width: 470px){
    
    .project-card{
        width: 230px;
        height: 310px;
        margin-top: 10px;
    }
    .project-title {        font-size: 25px;
        letter-spacing: 3px;
        
    }

    .project-subtitle{
        font-size: 11.5px;
        width: 210px;
    }

    .lang-fram{
        gap: 10px;
    }

    .project-top{
        margin: 0px 0px;
        width: 65px;
        height: 50px;
    }

    .project-icon{
        width: 36px;
        height: 31px;
    }

    .project-svg{
        position: relative;
        display: block;
        width: calc(168% + 1.3px);
        height: 40px;
    }
    .plus-icon-projects{
        right: 6px;
        bottom: 6px;
    }
    .plus-icon-projects:hover{
        transform: scale(1.1);
        transition: .6s ease;
    }


}

