/* CARDS FOR EACH PROJECTS */

.project-card{
    margin: auto;
    position: relative;
    width: 70vw;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    flex-direction: column;
    cursor: pointer;
    color: #171830;
    transition: .6s;
    /* box-shadow: 20px 20px 50px 15px rgba(0, 0, 0, .9); */
}
.project-card:hover{
    transform: scale(1.03);
}

/* TITLE FOR THE PROJECT */

/* FOUND IT APP*/
.project-title {
  position: absolute;
  left: 36%;
  top: 0%;
  transform: translate(-50%, -50%);
  display: block;
  color: #F57E7E;
  font-size: 6.5vw;
  letter-spacing: 9px;
  font-weight: 600;
  cursor: pointer;
}


.project-title::before {
  content: "FOUNDIT";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.project-title::after {
  content: "FOUNDIT";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.project-title:hover:before {
  top: 5px;
  left: 5px;
}

.project-title:hover:after {
  top: -5px;
  left: -5px;
} 

/* END FOUND IT APP*/

/* ANIMALS APP */
.project-title-dashboard {
  position: absolute;
  left: 36%;
  top: 0%;
  transform: translate(-50%, -50%);
  display: block;
  color: #F57E7E;
  font-size: 6.5vw;
  letter-spacing: 9px;
  font-weight: 600;
  cursor: pointer;
}


.project-title-dashboard::before {
  content: "DASHBRD";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.project-title-dashboard::after {
  content: "DASHBRD";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.project-title-dashboard:hover:before {
  top: 5px;
  left: 5px;
}

.project-title-dashboard:hover:after {
  top: -5px;
  left: -5px;
} 

/* END ANIMALS APP */

/* END PROJECT TITLE */




/* PROJECT SUBTITLE */

.project-subtitle{
    color: white;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-top: -100px;
    margin-left: -300px;
}

.about-and-icos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0px auto;
    width: 100%;
    gap: 20px;
}

.project-about{
    text-align: left;
    font-size: 13px;
    padding: 25px 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    width: 85%;
    height: 95%;
    color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.punto{ 
    position: absolute; 
    top: -15px;
    left: -15px;
    height: 42px; 
    width: 20px; 
    padding: 0px; 
    border-radius: 3px; 
    -webkit-transform: rotate(0deg) skew(0deg); 
    transform: rotate(0deg) skew(0deg); 
    border-left: 21px solid white; 
    border-right: 21px solid white; 
    border-bottom: 15px solid transparent; 
}

/* PSEUDO ELEMENTS FOR THE CARD */

.project-card:before {
    content: '';
    display: block;
    position: absolute;
    height: 70%;
    width: 37%;
    border-top: 4px solid #a4fac3;
    border-right: 4px solid #a4fac3;
    border-top-right-radius: 10px;
    right: 0px;
    top: 0px;
}

.project-card:after {
    content: '';
    display: block;
    position: absolute;
    height: 70%;
    width: 6%;
    border-top: 4px solid #a4fac3;
    border-left: 4px solid #a4fac3;
    border-top-left-radius: 10px;
    left: 0px;
    top: 0px;
}

/* END PSEUDO ELEMENTS FOR THE CARD */

/* PROJECT LANGUAGES AND FRAMEWORKS */
/* wrapper language framework */

.lang-fram{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0px;
    gap: 20px;
}
.lang-fram > section{
    flex: 25%;
}

/* languages */

.project-top{
    margin: 4px 0px;
    width: 105px;
    height: 70px;
    border: 3px solid white;
    border-radius: 10px;
    color: #171830;
    text-align: center;
    position: relative;
    background-color: white;
}
.project-icon{
    margin: 5px auto;
    width: 25px;
    height: fit-content;
}
.mysql-icon{
    width: 37px;
    margin-bottom: 11px;
}

.languages{
    font-size: 11px;
    white-space: nowrap;
}

/* END PROJECT LANGUAGES AND FRAMEWORKS */

/* WAVE SVG */

.project-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    border-radius: 10px;
}

.project-svg{
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 70px;
}
.plus-icon-projects{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}
.plus-icon-projects:hover{
    transform: scale(1.3);
    transition: .6s ease;
}

.shape-fill {
    fill: #F57E7E;
}

@media (max-width: 1500px){
    .project-subtitle{
        font-size: 15px;
        margin-top: -40px;
        margin-left: -100px;
    }
    .lang-fram > section{
        flex: none;
    }
}
@media (max-width: 1250px){
    .project-subtitle{
        font-size: 15px;
        margin-top: -40px;
        margin-left: -100px;
    }
    .java{
        margin-bottom: 4.5vh;
    }
    .project-svg{
        height: 70px;
    }

    .project-card:before {
        height: 77%;
    }

    .project-card:after {
        height: 77%;
    }
}

@media (max-width: 1090px){
    .project-card{
        padding: 70px;
    }
    .project-subtitle{
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    }
    .about-and-icos{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 25px auto 0px auto;
        width: 90%;
        gap: 30px;
    }
    .project-about{
        position: relative;
        width: 100%;
        text-align: center;
    }

    .lang-fram{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 0px;
        width: 100%;
        gap: 20px;
    }
    .java{
        margin-bottom: .5vh;
    }

    .project-svg{
        height: 70px;
    }

     .project-card:before {
        height: 78%;
    }

    .project-card:after {
        height: 78%;
    }

}

@media (max-width: 930px){

    .project-card{
        padding: 0px 50px;
    }
    .project-title {
        left: 43%;
        font-size: 7.7vw;
    }
    .project-title-dashboard {
        left: 43%;
        font-size: 7.7vw;
    }
    .project-about{
        text-align: center;
        font-size: 11.8px;
        padding: 12px 17px;
        margin-top: 10px;
    }
    .punto{ 
        height: 30px; 
        border-left: 15px solid white; 
        border-right: 15px solid white; 
        border-bottom: 10px solid transparent; 
    }

    .languages{
        font-size: 10px;
    }

     .project-card:before {
        width: 25%;
    }

}

@media (max-width: 774px){
    .project-card{
        padding: 30px;
    }
    .project-subtitle{
        font-size: 13px;
        margin-top: -10px;
    }
    .lang-fram{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        font-weight: 600;
        gap: 0px 70px;
    }
    .project-top{
        margin-top: 5px;
        width: 100px;
        height: 57px;
        border: none;
        color: #171830;
        background-color: white;
        padding: 5px;
    }
    .project-icon{
        margin: 0px auto 0px auto;
        width: 26px;
    }

    .languages{
        font-size: 10px;
    }
    .mysql-icon{
        width: 37px;
        margin-bottom: 10px;
    }
    .project-svg{
        height: 37px;
    }
    
}

@media (max-width: 744px){
    .project-card{
        width: 90vw;
    }

    .project-subtitle{
        font-size: 12px;
        margin-top: -30px;
    }
    .lang-fram{
        gap: 10px 20px;
    }
    .project-about{
        text-align: center;
        font-size: 10px;
        padding: 10px 14px;
        margin-top: 10px;
    }
    .project-top{
        margin-top: 0px;
        width: 100px;
        height: 55px;
        border: none;
        color: white;
        background-color: #171830;
        padding: 5px;
    }
    .project-icon{
        margin: 0px auto 0px auto;
        width: 30px;
    }

    .languages{
        font-size: 10px;
    }
    .mysql-icon{
        width: 37px;
        margin-bottom: 10px;
    }
    .project-svg{
        height:40px;
    }
 
    
}

@media (max-width: 480px){
    .project-card{
        padding: 0px 25px;
    }
    .project-title {
        left: 46%;
        font-size: 6.5vw;
    }
    .project-title-dashboard {
        left: 46%;
        font-size: 6.5vw;
    }
    .project-subtitle{
        font-size: 9px;
        margin-top: -55px;
    }
     .project-about{
        font-size: 8px;
        padding: 10px 10px;
        margin-top: 0px;
    }

    .punto{ 
        height: 22px; 
        border-left: 11px solid white; 
        border-right: 11px solid white; 
        border-bottom: 8px solid transparent;
        top: -7px;
        left: -11px;
    }
    .project-top{
        margin-top: 0px;
        width: 65px;
    }
    .project-icon{
        margin: 0px auto;
        width: 20px;
    }

    .languages{
        font-size: 8px;
    }
    .lang-fram{
        gap: 10px;
        justify-content: space-between;
    }

    .project-card:before {
        height: 80.7%;
        width: 20%;

    }

    .project-card:after {
        height: 80.7%;
    }

    .project-svg{
        height: 40px;
    }
    .mysql-icon{
        margin-bottom: 10px;
    }
}