.about-page {
  width: 100%;
  margin: 150px auto 0 auto;
  padding: 10px 0px 50px 0;
  position: relative;
  min-height: 100% !important;
}

/* second PAGE OF HOME */
.section-two {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "cinco uno ocho dos once cuatro diecinueve"
    "cinco seis ocho siete once tres diecinueve"
    "cinco seis ocho nueve once tres diecinueve"
    "cinco seis ocho nueve once tres diecinueve"
    "trece trece ocho nueve once diez diez"
    "quince quince ocho dieciseis once doce doce";
  gap: 0.6rem;
  margin: auto;
  width: 85%;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.6vw;
}

.work-around-about {
  margin-top: 30vh;
}

.about-svg {
  width: 40%;
  position: absolute;
  left: -3.7vw;
  top: -3.5vh;
}
.box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  text-align: center;
}
.box1 {
  grid-area: uno;
  border: 2px solid #fdca87;
  white-space: nowrap;
  color: white;
  font-weight: 600;
  font-size: 22px;
}
.box1 sub {
  white-space: nowrap;
  font-weight: 600;
  font-size: 19px;
  margin-left: 8px;
}
.box2 {
  display: none;
}
.box3 {
  grid-area: tres;
  position: relative;
  border: 2px solid white;
  z-index: 99;
  cursor: pointer;
}

.box4 {
  grid-area: cuatro;
  white-space: nowrap;
  color: white;
  font-weight: 500;
  border: 2px solid #fdca87;
  font-weight: 600;
  font-size: 22px;
}

.box4 sub {
  white-space: nowrap;
  font-weight: 600;
  font-size: 19px;
  margin-left: 8px;
}

.box5 {
  grid-area: cinco;
  border: 2px solid #f57e7e;
}
.box6 {
  position: relative;
  grid-area: seis;
  font-weight: 400;
  font-size: 1vw;
  letter-spacing: 3px;
  border: 2px solid white;
  z-index: 99;
  cursor: pointer;
}

.box7 {
  grid-area: siete;
  border: 2px solid #fdca87;
  white-space: nowrap;
  color: white;
  font-weight: 500;
  font-weight: 600;
  font-size: 22px;
}

.box7 sub {
  white-space: nowrap;
  font-weight: 600;
  font-size: 19px;
  margin-left: 8px;
}

.box8 {
  grid-area: ocho;
}

.box9 {
  grid-area: nueve;
  position: relative;
  font-weight: 400;
  font-size: 1vw;
  letter-spacing: 3px;
  border: 2px solid white;
  z-index: 99;
  cursor: pointer;
}

.box10 {
  grid-area: diez;
  border: 2px solid #fdca87;
}

.box11 {
  grid-area: once;
}

.box12 {
  grid-area: doce;
}

.box13 {
  grid-area: trece;
  border: 2px solid #fdca87;
}

.box15 {
  grid-area: quince;
}

.box16 {
  grid-area: dieciseis;
  border: 2px solid #f57e7e;
}

.box17 {
  grid-area: diecisiete;
}

.box18 {
  grid-area: dieciocho;
}

.box19 {
  grid-area: diecinueve;
  border: 2px solid #f57e7e;
}

/* show button */
.plus-icon-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.box p {
  width: 84%;
  height: 100%;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 400;
}

.plus-icon {
  transition: 0.6s;
}
.plus-icon:hover {
  color: #f57e7e;
  transform: scale(1.2);
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
} */

/* scroll button container */
.scroll-button-container {
  margin-top: 50px;
}

/* MEDIA QUERIES */

@media (max-width: 1150px) {
  .section-two {
    display: grid;
    grid-template-columns: 0.3fr 1fr 2% 1fr 2% 1fr 0.3fr;
    width: 90%;
    padding-bottom: 50px;
  }
  .box1,
  .box4,
  .box7 {
    font-size: 18px;
  }
  .box1 sub {
    font-size: 16px;
  }
  .box4 sub {
    font-size: 16px;
  }
  .box7 sub {
    font-size: 16px;
  }
  .box p {
    width: 88%;
    height: 100%;
    font-size: 13.5px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .plus-icon-button {
    right: 8px;
    bottom: 8px;
  }
  .plus-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1000px) {
  .section-two {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1.5% 1fr 1.5% 1fr 0.1fr;
  }


  .box p {
    width: 96%;
    font-size: 13.5px;
  }

  .box1 sub {
    font-size: 17px;
    margin-left: 4px;
    }
  .box4 sub {
    font-size: 17px;
    margin-left: 4px;
    }
  .box7 sub {
    font-size: 17px;
    margin-left: 4px;
    }
}

@media (max-width: 880px) {
  .section-two {
    grid-template-columns: 4fr .7fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 2fr 1fr 1fr 2fr;
    grid-template-areas:
      "uno cinco"
      "seis cinco"
      "ocho ocho"
      "siete dieciseis"
      "nueve dieciseis"
      "once once"
      "cuatro diecinueve"
      "tres diecinueve"
      ;
    height: 100%;
    width: 75%;
    margin: auto;
  }
  
  .box2, .box10, .box11, .box12, .box13, .box14, .box15{
      display: none;
  }

  .box1,
  .box4,
  .box7 {
    font-size: 20px;
  }
  .box1 sub {
    font-size: 18px;
    margin-left: 9px;
    }
  .box4 sub {
    font-size: 18px;
    margin-left: 9px;
    }
  .box7 sub {
    font-size: 18px;
    margin-left: 9px;
    }

}

@media (max-width: 630px) {
  
  .box p {
    font-size: 13px;
  }

  .box1,
  .box4,
  .box7 {
    font-size: 18.5px;
  }
  .box1 sub {
    font-size: 16px;
    margin-left: 7px;
    }
  .box4 sub {
    font-size: 16px;
    margin-left: 7px;
    }
  .box7 sub {
    font-size: 16px;
    margin-left: 7px;
    }

}

@media (max-width: 460px) {
  .section-two {
    width: 90%;
  }

  .about-page {
    margin-top: 175px;
  }
  .work-around-about {
    margin-top: 30vh;
  }

  .box p {
    font-size: 12.5px;
  }
 
}
