.about-page{
    width: 85vw;
    margin: 100px auto;
    padding: 40px 0px;
   
}


/* FIRST PAGE OF HOME */
.section-two{
    display: grid;
    grid-template-columns: .3fr 1fr .3fr 1fr .3fr 1fr .3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "catorce catorce catorce catorce catorce catorce catorce"
    "cinco uno ocho dos once cuatro diecinueve"
    "cinco seis ocho siete once tres diecinueve"
    "cinco seis ocho nueve once tres diecinueve"
    "cinco seis ocho nueve once tres diecinueve"
    "trece trece ocho nueve once diez diez"
    "quince quince ocho dieciseis once doce doce"
    ;
    gap: 0.6rem;
    
    margin: auto;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 1.6vw;

}
.work-around{
    margin-top: 50vh;
}

.box1{
    grid-area: uno;
    border: 2px solid white;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards .6s;
}
.box2{
    grid-area: dos;
    background-color: #a4fac3;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards 0.2s;

}
.box3{
    grid-area: tres;
    position: relative;
    font-weight: 400;
    font-size: 1.1vw; 
    letter-spacing: 3px;
    border: 2px solid white;
    visibility: hidden;
    z-index: 99;
    cursor: pointer;
    animation: 1.2s fadeIn ease-in forwards 1s;

}
/* .modal-about-do{
    z-index: 999;
} */
.box4{
    grid-area: cuatro;
    border: 2px solid white;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards .6s;

}
.box5{
    grid-area: cinco;
    background-color: #f57e7e;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards;

}
.box6{
    position: relative;
    grid-area: seis;
    font-weight: 400;
    font-size: 1.1vw; 
    letter-spacing: 3px;
    border: 2px solid white;
    visibility: hidden;
    z-index: 99;
    cursor: pointer;
    animation: 1.2s fadeIn ease-in forwards 1s;

}


.box7{
    grid-area: siete;
    border: 2px solid white;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards .6s;
}

.box8{
    grid-area: ocho;
}

.box9{
    grid-area: nueve;
    position: relative;
    font-weight: 400;
    font-size: 1.1vw; 
    letter-spacing: 3px;
    border: 2px solid white;
    visibility: hidden;
    z-index: 99;
    cursor: pointer;
    animation: 1.2s fadeIn ease-in forwards 1s;
}

.about-svg{
    width: 40%;
    position: absolute;
    left: -2.7vw;
    top: -1.5vh;
    
}


.box10{
    grid-area: diez;
    background-color: #a4fac3;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards 0.2s;
}

.box11{
    grid-area: once;
   
}

.box12{
    grid-area: doce;   
}



.box13{
    grid-area: trece;
    background-color: #a4fac3;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards 0.2s;
}

.box14{
    grid-area: catorce;   
}

.box15{
    grid-area: quince;
    
}

.box16{
    grid-area: dieciseis;
    background-color: #f57e7e;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards;
    

}

.box17{
    grid-area: diecisiete;
    
}

.box18{
    grid-area: dieciocho;
  
}

.box19{
    grid-area: diecinueve;
    visibility: hidden;
    animation: 1.2s fadeIn ease-in forwards;
    background-color: #f57e7e;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    text-align: center;
    transition: 0.6s ease-in-out;
    /* border: 2px solid wheat; */
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}



/* MEDIA QUERIES */


@media(max-width: 960px) {
    .section-two{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr 3fr 1fr .5fr .5fr 3fr 1fr .5fr .5fr 3fr 1fr;
        grid-template-areas: 
            "cinco"
            "uno"
            "seis"
            "ocho"
            "dos"
            "siete"
            "nueve"
            "once"
            "diecinueve"
            "cuatro"
            "tres"
            "catorce"; 
        height: 100%;
        width: 80%;
        margin: auto;
        font-size: 2vw;
    }
    .box8{
        display: none;
    }
    .box10{
        display: none;
    }
    .box11{
        display: none;
    }
    .box12{
        display: none;
    }

    .box15{
        display: none;
    }
    .box13{
        display: none;
    }
    .box16{
        display: none;
    }
    .box14{
        display: none;
    }
    

    .box5{
        animation: 1.2s fadeIn ease-in forwards 0.2s;  
    }
    .box1{
        animation: 1.2s fadeIn ease-in forwards .5s;
    }
    .box6{
        font-size: 1.7vw;
        animation: 1.2s fadeIn ease-in forwards .8s;
    }
    .box2{
        animation: 1.2s fadeIn ease-in forwards 1.1s;
    }
    .box7{
        animation: 1.2s fadeIn ease-in forwards 1.4s;
    }
    .box9{
        font-size: 1.7vw;
        animation: 1.2s fadeIn ease-in forwards 1.7s;
    }
    .box19{
        animation: 1.2s fadeIn ease-in forwards 2s;
    }
    .box4{
        animation: 1.2s fadeIn ease-in forwards 2.3s;
    }
    .box3{
        font-size: 1.7vw;
        animation: 1.2s fadeIn ease-in forwards 2.6s;   
    }

}

@media(max-width: 670px){
    .section-two{
        font-size: 3vw;
        width: 90%;
    }
    .box3{
        font-size: 2.3vw; 
        
    }
    .box6{
        font-size: 2.3vw;
       
        
    }
    .box9{
        font-size: 2.3vw;    
    }
    .box7{
        white-space: nowrap;
    }
}

@media(max-width: 420px){
    .section-two{
        font-size: 3.5vw;
    }
    .box3{
        font-size: 2.8vw; 
        
    }
    .box6{
        font-size: 2.8vw;
       
        
    }
    .box9{
        font-size: 2.8vw;    
    }
}