.modal-about{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 68%;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    margin-top: 3%;
    transform: translate(-50%, -50%);
    background-color: #171830;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100000;
    border: 1px solid white;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, .7);
    letter-spacing: 1px;
}

.modal-content-about{
    width: 100%;
    height: 100%; 
    position: relative;
}
.close-modal-about{
  position: absolute;
  right: 13px;
  top: 9px;
}
.modal-icon{
  color: white;
}

 .modal-content-about:before {
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  width: 50%;
  border-top: 8px solid #a4fac3;
  border-right: 8px solid #a4fac3;
  border-top-right-radius: 10px;
  right: -35px;
  top: -35px;
}
.modal-content-about:after {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  width: 50%;
  border-left: 8px solid #f57e7e;
  border-bottom: 8px solid #f57e7e;
  border-bottom-left-radius: 10px;
  left: -35px;
  bottom: -35px;
} 

.modal-blur{
  position: absolute;
  min-width: 100vw;
  min-height: 1000vh;
  background-color: rgb(23, 24, 48);
  z-index: 20000;
}

.modal-about.show{
    pointer-events: visible;
    animation: .6s fadeInModal ease-in-out forwards; 
    backdrop-filter: blur(5px);
    
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


.modal-footer{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
}



@media(max-width: 1060px) {
  .modal-about{
    width: 70%;
  }
}


@media(max-width: 750px) {
  .modal-about{
    width: 77%;
    height: 72.5%;
  }
  
  
   .modal-content-about:before {
    right: -20px;
    top: -20px;
    height: 30%;
    border-top: 4px solid #a4fac3;
    border-right: 4px solid #a4fac3;
  }
  .modal-content-about:after {
    left: -20px;
    bottom: -20px;
    height: 30%;
    border-left: 4px solid #f57e7e;
    border-bottom: 4px solid #f57e7e;
  } 
}


@media(max-width: 500px) {
  .modal-about{
    width: 82%;
    top: 52%;
    height: 80%;
    padding-left: 10px;
  }

  .modal-content-about:before {
    display: none;
  }
  .modal-content-about:after {
    display: none;
  }
  .close-modal-about{
    position: absolute;
    right: 8px;
    top: 8px;
  }
}