

.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100000;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, .7);

}
.modal-blur{
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(23, 24, 48, 0.86);
  z-index: 20000;
}

.modal.show{
    pointer-events: visible;
    animation: .6s fadeInModal ease-in-out forwards; 
    backdrop-filter: blur(5px);
    
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.modal-content{
    width: 35vw;
    height: 40vh;
   
    
  
}


.modal-header, .modal-footer{
    padding: 15px;
}
.modal-title{
 margin: 0;   
}

.modal-body{
    padding: 10px;
    height: 60%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}