/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"); */

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding: 10px;
}

.rightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  text-align: left;
}

.rb-container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 15px;
  padding-top: 20px;
  font-weight: 100;
}

.rb-container ul.rb {
  padding: 0;
  width: 100%;
  height: 100%;
}

.rb-container ul.rb li {
  list-style: none;
  margin: 0 auto;
  margin-left: 2em;
  height: 33%;
  border-left: 1px dashed #fff;
  padding: 0 0 0px 40px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -14px;
  top: -4px;
  content: " ";
  border: 7px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  background: #a4fac3;
  height: 25px;
  width: 25px;
  -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #171830;
  -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

ul.rb li .timestamp {
  color: #a4fac3;
  position: relative;
  width: 100%;
  font-size: 13.5px;
}

.item-title {
  color: #fff;
  margin-top: 8px;
}

@media (max-width: 950px) {
  .rb-container {
    font-size: 14.5px;
    padding-top: 13px;
  }
  ul.rb li .timestamp {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .rb-container {
    font-size: 12.5px;
    padding-top: 10px;
  }

  ul.rb li .timestamp {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  .rb-container {
    padding-top: 10px;
  }
  .rb-container ul.rb li {
    margin-left: 0em;
  }

  ul.rb li .timestamp {
    font-size: 10.5px;
  }

  .rb-container ul.rb li {
    padding: 0 0 0px 20px;
    border-left: 2px dashed #fff;
  }

  .rb-container ul.rb li::before {
    content: " ";
    border: 5px solid rgba(255, 255, 255, 1);
    height: 20px;
    width: 20px;

  }
}
@media (max-width: 470px) {
  
  .rb-container ul.rb li:nth-child(2) {
    margin-bottom: 8px;
  }

  .item-title {
    margin-top: 4px;
  }
  .rb-container {
    font-size: 11px;
    padding-top: 10px;
  }

  ul.rb li .timestamp {
    font-size: 10.5px;
  }
}
