/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"); */

.timeline-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    padding: 10px;
}



.rightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    text-align: left;
}

.rb-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  font-size: .6rem;
}

.rb-container ul.rb {
  padding: 0;
  width: 100%;
  
}

.rb-container ul.rb li {
  list-style: none;
  margin: 0 auto;
  margin-left: 2em;
  height: 110px;
  border-left: 1px dashed #fff;
  padding: 0 0 0px 40px;
  position: relative;
  
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -14px;
  top: -4px;
  content: " ";
  border: 7px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  background: #a4fac3;
  height: 25px;
  width: 25px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #171830;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

ul.rb li .timestamp {
  color: #a4fac3;
  position: relative;
  width: 100%;
  font-size: .8rem;
}

.item-title {
  color: #fff;
}

@media(max-width: 900px){
  .rb-container {
    width: 95%;
  }
  ul.rb li .timestamp {
    font-size: .6rem;
  }
}
@media(max-width: 500px){
  rb-container {
    width: 75%;
  }
  .rightbox{
    margin-top: 35px;
  }
  .rb-container ul.rb li {
    margin-left: 1.3em;
    height: 140px;
    border-left: 2px dashed #fff;
    padding: 0 0 0px 30px;
    font-size: .45rem;
    letter-spacing: normal;
    width: 87%;
  }
  ul.rb li .timestamp {
    font-size: .4rem;
  }

  .rb-container ul.rb li::before {
    left: -10px;
    top: -3px;
    border: 4px solid rgba(255, 255, 255, 1);
    height: 18px;
    width: 18px;
  }
}
