.home2 {
  display: flex;
  justify-content: space-between;
  width: 92%;
  height: 100%;
  margin: 47px auto 0 auto;
  font-family: "Fira";
  padding: 0 60px;
}

.intro-left{
  width: 65%;
  display: flex;
  flex-direction: column;
}

.home2-title {
  color: wheat;
  font-size: 96px;
  letter-spacing: -7px;
  line-height: 100px;
  height: 50%;
}

.home-main-texts{
  width: 70%;
  height: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-left {
  width: 100%;
  font-size: 16.5px;
  font-weight: 100;
  font-style: italic;
  font-family: "Poppins";
  letter-spacing: 1px;
  color: rgba(255, 255, 255, .8);
}
.text-left:nth-child(2) {
  color: rgba(255, 255, 255, .57);
  align-self: flex-end;
  width: 50%;
}
.intro-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 22%;
  height: 100%;
  gap: 50px;
}
.main-lines{
  display: flex; 
  margin-top: 35px;
  padding: 10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: rgba(255, 255, 255, .57);
  letter-spacing: 11px;

}

#home-svg{
  width: 180px;
  height: 180px;
}
