.found-cards-page{
    width: 68%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;   
}


.gallery-foundit{
    margin: 60px auto -40px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 240px;
    height: 80px;
    padding: 7px;
    box-shadow: 7px 7px rgba(0, 0, 0, .87);
    border: 3px solid black;
    color: #171830;
    background-color: #fbeee0;
    position: relative;
    border-radius: 30px;
}


.block-found{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid yellow; */
    
}
.block-found-video{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text{ 
    margin: auto;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    font-size: 13px;
    border: 2.5px solid black;
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 10px;
}
.image-title{
    position: relative;
    font-size: 25px; 
    font-weight: bold; 
    line-height: 1.5; 
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.image-title:after{
    content: "";
    display: block;
    position: absolute;
    height: 0%;
    width: 93%;
    border-bottom: 2px solid white;
    left: 9px;
    bottom: 8px;
}

.image-text{
    position: relative;
    border-radius: 2px;
    font-size: 15px; 
    line-height: 24px; 
    margin: 0 0 0px; 
    text-align: justify; 
    text-justify: inter-word; 
    padding: 20px;
    border-radius: 10px;
    
}

.image-text:after{
    content: "";
    display: block;
    position: absolute;
    height: 0%;
    width: 87%;
    border-left: 5px solid #f57e7e;
    border-bottom: 5px solid #f57e7e;
    left: 15px;
    bottom: 3px;
   
}

@media (max-width: 1400px){
    .found-cards-page{
        width: 77%;
    }
}
@media (max-width: 1000px){
    .found-cards-page{
        width: 83%;
    }

    .text{
        margin-right: 60px;
    }
    .image-title{
        font-size: 23px; 
    }
    .image-text{
        font-size: 14px; 
        line-height: 22px; 
        
    }
    .gallery-foundit{
        font-size: 28px;
        width: 200px;
        height: 70px;
        padding: 7px;
    }
    .block-found{
        gap: 0px 60px;
        margin-bottom: 80px;
        margin-right: 20px;
        gap: 0px 40px;
    }
    .block-found-video{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;

    }
}
@media (max-width: 850px){
     .carousel .control-dots{
        display: none;
    }
}

@media (max-width: 800px){
    .found-cards-page{
        margin-top: 0px;
        gap: 50px;
    }
    .gallery-foundit{
        font-size: 23px;
        width: 160px;
        height: 60px;
        padding: 7px;
        margin-bottom: 10px;
    }
    .text{
        margin: 50px auto 0 auto;
        width: 68%;
    }
    .block-found{
        flex-direction: column-reverse;
        margin-bottom: 0px;
        gap: 50px;
    }
    .block-found-video{
        flex-direction: column-reverse;
        gap: 70px;
    }
  
    .image-title{
        font-size: 20px; 
        text-align: center;
    }
    .image-text{
        font-size: 14px; 
        letter-spacing: 1px;
        line-height: 22px;
        text-align: center; 
        margin-top: -7px;
    }

    .image-text:after{
        left: 33px;
        bottom: 9px;
    }
}
@media (max-width: 500px){
    
   
    .found-cards-page{
        margin-top: 35px;
        width: 96%; 
    }
   

    .text{
        margin-bottom: 0;
        width: 80%;
    }
    .image-title{
        font-size: 17px; 
    }
    .image-text{
        width: 100%;  
        font-size: 13.5px;
        letter-spacing: 0;
    }

    .image-text:after{
        display: none;
    }
 
}

