
.mobile-svg{
    width: 430px;
    height: 460px;
    background-size: 47% 78.5%;
    background-repeat: no-repeat;
    background-position: center; 
    /* border: 4px solid #131327; */
    /* box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, .9);  */
    -webkit-filter: drop-shadow( 20px 20px 22px rgba(0, 0, 0, .9));
    filter: drop-shadow( 30px 30px 10px rgba(0, 0, 0, .9));

}


@media (max-width: 930px){
    .mobile-svg{
        width: 330px;
        height: 350px;  
    }
}
@media (max-width: 760px){
    .mobile-svg{
        width: 295px;
        height: 320px;
    }
}





