
.mobile-svg{
    /* border: 1px solid beige; */
    width: 430px;
    height: 460px;
    background-size: 47% 78.5%;
    background-repeat: no-repeat;
    background-position: center; 
    -webkit-filter: drop-shadow( 10px 12px rgba(0, 0, 0, .9));
    filter: drop-shadow( 15px 10px rgba(0, 0, 0, .9));

}


@media (max-width: 900px){
    .mobile-svg{
        margin-left: -40px; 
    }
}
@media (max-width: 800px){
    .mobile-svg{
        margin: auto;
        width: 400px;
        height: 430px;
    }
}
@media (max-width: 760px){
    .mobile-svg{
        width: 355px;
        height: 390px;
    }
}





