
.video-js-found {
    margin-left: 100px;
}
@media (max-width: 900px){
    .video-js-found {
        margin-left: 60px;
    }
}
@media (max-width: 800px){
    .video-js-found {
        margin: auto;
    }
}
@media (max-width: 760px){
    .video-js-found {
        width: 190px;
        height: 350px;
    }
}