.title-h1 {
  color: #D5E2D6;
  text-align: center;
  font-weight: bold;
  line-height: 45px;
  font-size: 40px;
  /* mask-image: url('../../assets/pruebamask.jpg');
  mask-repeat: no-repeat; */
 
 
  /*-----------------------*/
  text-shadow: 1px 1px #4A744D, 2px 2px #4A744D, 3px 3px #4A744D, 4px 4px #4A744D, 5px 5px #4A744D, 6px 6px #4A744D, 7px 7px #4A744D;
  
}
.game-title {
    margin-top: 20px;
  }
@media (min-width: 500px){
  .game-title {
    margin-top: 40px;
  }
}


@media (min-width: 760px){
  .title-h1 {
    font-size: 70px;
    margin-top: 70px;
  }
}

@media (min-width: 1500px){
  .title-h1 {
    font-size: 75px;
  }
}

