/* NAVBAR HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 85px;
    padding: 0 2rem;
    color: #171830;
    position: sticky;
    background-color: #171830;
    border-bottom: 3px solid #171830;
    padding-bottom: 20px;
    top: 0;
    z-index: 1000;
    position: fixed;
}

.divisor{
    margin-bottom: 70px;
}

nav{
    margin-left: 5%;
}

.nav-links{
    display: flex;
    /* background-color: rgb(160, 160, 141); */
    justify-content: center;
    width: fit-content;
    margin: auto;
    height: auto;
    /* text-align: center; */
}


.link-nav{
    margin: 0 3rem 0 1rem;
    color: white;
    border: 1px solid #171830;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    background-color: #171830;
}

.link-nav:hover{
    color: wheat;
}
.link-nav:hover .dropdown-arrow{
    color: wheat;
}


.logo{
    cursor: pointer;
    color: white;
    display: none;
    -webkit-transition: all 1000ms ease-out;
    -moz-transition: all 1000ms ease-out;
    -ms-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
}

.logo:hover{
    transform: rotate(1turn);
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;

}

header .nav-btn:hover{
     color: rgb(248, 141, 54);
}

.left-side{
    z-index: 9999;

}
.link-one{
    position: relative;
}
.dropdown-arrow{
    position: absolute;
    top: 26%;
    right: 25%;
    cursor: pointer;
    color: white;
}
/* dropdown */
.dropdown{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px;
    left: 0%;
    display: none;
    width: 145px;
    color: white;
    background: #171830;
    border-radius: 5px;
}

.link-one:hover .dropdown{
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
}


.dropdown li{
    clear: both;
    margin-left: 5px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

.dropdown li .dropdown-links:hover {
    padding-left: 10px;
    border-left: 4px solid #a4fac3;
     -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    color: wheat;
}


@media only screen and (max-width: 1020px){

    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    .logo{
        margin-left: 11vw;
        -webkit-transition: all 1000ms ease-out;
        -moz-transition: all 1000ms ease-out;
        -ms-transition: all 1000ms ease-out;
        -o-transition: all 1000ms ease-out;
        transition: all 1000ms ease-out;
        transform: rotate(1turn); 
        position: fixed; 
        display: block;
  
    }


    nav{
        position: fixed;
        top: 0vh;
        right: 0;
        height: 30vh;
        width: 100%;
        border-radius: 8px;
        padding: 40px 0 0 0;
        background-color: #171830;
        border-radius: 0 0 35% 35%;
        -webkit-transition: all 800ms ease-in-out;
        -moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
        transition: all 800ms ease-in-out;
        transform: translateY(-100vh);
        border-bottom: 3px solid white;
        /* -webkit-transform: translateZ(0); */
        z-index: 1030;
    }

    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 70%;
        margin-top: 60px;
    }

    .divisor{
        margin-bottom: 90px;
    }
  
    .link-nav{
        margin: auto 12px;
        color: white;
        font-size: 0.9rem;
        /* border: 1px solid white; */
        text-decoration: none;
        /* padding: 7px; */
        border-radius: 50%;
    }
    .link-nav:hover{
        transform: scale(1.2);
    }

    .burger{
        margin-right: 9vw;
        margin-top: 4vh;
        color: white;
    }


    .responsive_nav{
        transform: none;
    }
    .close-btn{
        display: block;
        color: white;
    }

    .nav-close-btn{
        position: absolute;
        right: 14vw;
        top: 5vh;

    }
    .logo{
        margin-top: -2px;

    }

    .dropdown-arrow{
        right: 2%;
    }
    .dropdown{
        font-size: 0.9rem;
    }

}

@media (max-width: 900px){
    .nav-links{
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;
        width: 100%;
        gap: 22px 0;
        text-align: center;
    }

    .nav-links > div {
        flex: 30%;
    }
    .dropdown{
        left: 23%;
    }
    .dropdown-arrow{
        right: 20%;
    }
}
/* NAVBAR HEADER */
@media only screen and (max-width: 650px){
     nav .nav-close-btn{
       right: 16vw;
    }

    .divisor{
        margin-bottom: 70px;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
        margin: 50px auto;
        width: 100%;
        gap: 10px 0;
        text-align: center;
    }

    .nav-links > div {
        flex: 33%;
    }
   

    .link-nav{
        font-size: 0.9rem;
        text-decoration: none;
        padding: 5px;
        border-radius: 50%;
    }
   

    .link-nav:hover{
        transform: scale(1.2);
    }

    .dropdown{
        left: 17%;
    }

    .dropdown-arrow{
        right: 10%;
    }
}

@media only screen and (max-width: 460px){
      nav .nav-close-btn{
       right: 17vw;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;
        width: 100%;
        gap: 8px 0;
    }

    .nav-links > div {
        flex: 33%;
    }


    .link-nav{
        font-size: 0.7rem;
        text-decoration: none;
        padding: 4px;
        border-radius: 50%;
    }
  
  

    .link-nav:hover{
        transform: scale(1.2);
    }

    .divisor{
        margin-bottom: 100px;
    }

    .dropdown{
        display: none;
    }
    .dropdown li{
        display: none;
    }

    .dropdown-arrow{
        display: none;
    }
    .showDropdown{
        visibility: hidden;
        opacity: 0;
        display: none;
        
    }
}

@media (max-width: 375px) {
    .nav-links{
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
        width: 100%;
        gap: 5px 0;
    }

    .link-nav{
        margin: auto 2px;
        font-size: 0.6rem;
    }

    /* .dropdown-arrow{
        top: 42%;
        right: 10%;
    } */

    /* .dropdown{
        left: 0%;
        font-size: 0.6rem;
    } */
} 