/* NAVBAR HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    color: wheat;
    position: sticky;
    background-color: #202142;
    top: 0;
    z-index: 999;

}

nav a{
    margin: 0 2rem;
    color: wheat;
    text-decoration: none;
}

nav a:hover{
    color: rgb(248, 141, 54);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;

}

header .nav-btn:hover{
     color: rgb(248, 141, 54);
}

.left-side{
    z-index: 9999;
    
}



.divisor{
  background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 768px){

    header .nav-btn{
    visibility: visible;
    opacity: 1;
    }

    .logo{
        margin-left: 10px;
        transition: 1s ease-out;
        transform: rotate(1turn);    
    }


    header nav{
        position: fixed;
        right: 0;
        height: 70%;
        width: 100%;
        border-radius: 8px;
        padding: 20px 0px 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;
        
        background-color: #202142;
        transition: 0.8s;
        transform: translateY(-100vh);
    }

    .burger{
        margin-right: 7px;
    }
   

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        right: 37px;
        bottom: 230px;
        
    }
    
    .lower_elements{
      margin-top: 15%;
      transition: 1s;
    }
    
}
/* NAVBAR HEADER */
