.play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    background-color: #D5E2D6;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid #5a815c;
    /* box-shadow: 1px 1px #D5E2D6, 2px 2px #D5E2D6, 3px 3px #D5E2D6, 4px 4px #D5E2D6, 5px 5px #D5E2D6; */
}

.play-button:hover{
    animation: shake 3s;
    animation-iteration-count: infinite;
}

.play-text{
    color: #5a815c;
    font-size: 16px;
    font-weight: bold;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media (min-width: 500px){
    .play-button{
        width: 120px;
        height: 70px;
    }

    .play-text{
        color: #5a815c;
        font-size: 18px;
        font-weight: bold;
    }


}


@media (min-width: 760px){
    .play-button{
        width: 160px;
        height: 80px;
        margin-top: 20px;
    }

    .play-text{
        color: #5a815c;
        font-size: 22px;
        font-weight: bold;
    }


}


