

.projects-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    gap: 150px;

}

.top-absolute{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects-page-title{
    text-align: center;
}

/* PROJECT DIVISOR */

@media (max-width: 1250px){
    .projects-page{
        width: 80%;
    }
}
@media (max-width: 1050px){
    .projects-page{
        width: 90%;
        gap: 90px;
    }
}
@media (max-width: 760px){
    .projects-page{
       flex-direction: column;
       gap: 90px;
    }
    
}

