

.projects-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    gap: 150px;

}

.top-absolute{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects-page-title{
    text-align: center;
}

.title-all{
    font-size: 70px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -30px;
    text-align: center;
}
.title-sub{
    margin-right: 10px;
    color: #f57e7e;
}
.title-main{
    
}


/* PROJECT DIVISOR */

@media (max-width: 1250px){
    .projects-page{
        width: 80%;
    }
}
@media (max-width: 1050px){
    .projects-page{
        width: 90%;
        gap: 90px;
    }
}
@media (max-width: 850px){
    .projects-page{
        width: 90%;
        gap: 30px;
    }
}
@media (max-width: 690px){
    .projects-page{
       flex-direction: column;
       gap: 50px;
    }
    
}
@media (max-width: 600px){
    .title-all{
        font-size: 48px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: -30px;
    }
    
}
@media (max-width: 500px){
    .title-all{
        font-size: 40px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    
}
@media (max-width: 470px){
    .title-all{
        font-size: 35px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    
}

