

.scroll3 {
    position: absolute;
    bottom: 64px;
    right: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: -12px;
    margin-bottom: 50px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0;
  }
}

@media(max-width: 1000px){
  .scroll3 {
      width: 24px;
      height: 24px;
  }

}
@media(max-width: 800px){
  .scroll3 {
      bottom: 56px;
      width: 22px;
      height: 22px;
  }

}

@media(max-width: 570px){
  .scroll3 {
    bottom: 76px;
      width: 21px;
      height: 21px;
  }
}

@media(max-width: 480px){
  .scroll3 {
      width: 20px;
      height: 20px;
  }
}