@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
  margin-bottom: 100px;
  /* filter: blur(5px); */
}

.blurry-body{
  filter: blur(2px);
  transition: 0.3s ease-out 0.2s;
}

ul {
  list-style: none;
}

.fake-container{
  min-width: 100%;
  min-height: 100%;
}

.container {
  max-width: 75%;
  margin: auto;
  padding: 6px 40px;
  border-radius: 15px;
  

}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px auto;
  position: relative;
  max-width: 768px;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.text-display{
  background-color: rgba(78, 84, 252, 0.3);
  width: fit-content;
  color: black;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

.rating li,
.num-display {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover,
.num-display {
  background: #ff6a95;
  color: #fff;
}

.input-radio{
  opacity: 0;
}

.input-radio:checked ~ label {
  background: #ff6a95;
  color: #fff;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

.input-feedback {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

.input-feedback:focus {
  outline: none;
}

/* //reply to feedback// */

.replies{
  margin-top: 20px;
}

.replies p {
  background-color: rgba(106, 255, 248, 0.33);
  width: fit-content;
  color: black;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.reply-icon{
  margin-top: 6px;
  margin-right: 4px;
  transform: rotate(180deg);
  color: rgb(106, 255, 248);
}

.input-group2 {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 4px 6px;
  border-radius: 8px;
  max-width: 350px;
  max-height: 40px;
}

.button-reply{
  max-height: 40px;
  background-color: #202142;
  color: white;
  border-radius: 8px;
  width: 60px;
  font-size: 13px;
}


.feedback-stats {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
  margin: 0 auto 40px;
}

.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

/* feedback item buttons, edit, delete & like */

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.like{
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.like:hover{
  transform: scale(2);
  opacity: 0.9;
}

.likesCount{
  font-size: 0.92rem;
  position: absolute;
  bottom: 5.5px;
  right: 45px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}


.btnSize{
  color: white;
  font-size: 0.8rem;
  border: 1px;
  background-color: #202142;
  top: 5%;
  left: 88%;
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
}

.btnSize:hover{
  transform: scale(0.98);
  opacity: 0.9;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 10px;
  text-align: center;
  color: rebeccapurple;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

/* arrows to go to next feedback */
.nextArrow {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  margin-bottom: 35px;
  max-width: 768px;
}

.previousArrow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  max-width: 768px;
  margin: 20px auto 50px;
}

.arrow{
  cursor: pointer;
}

.arrow:hover{
  transform: scale(0.98);
  opacity: 0.9;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */

.about-link a {
  color: #fff;
  cursor: pointer;

}

.about-link a:hover {
  color: #ff6a95;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}


@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}


@media (max-width: 550px){
  .card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px auto;
    position: relative;
    max-width: 768px;
    font-size: 12px;
  }

  .card h2 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
  .rating li label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    padding: 0px;
  }

  .rating li,
  .num-display {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 15px;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 5px 7px;
    border-radius: 8px;
  }

  .input-feedback {
    flex-grow: 2;
    border: none;
    font-size: 11px;
  }

  .btn {
    color: #fff;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 40px;
    height: 30px;
    cursor: pointer;
    font-size: 11px;
  }

  .message {
    font-size: 11px;
  }

  .btnSize{
    margin: auto;
    width: 90px;
    height: 30px;
    padding: 3px;
    font-size: 11px;

  }

  .feedback-stats {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto 40px;
    font-size: 11px;
  }

  .arrow{
    width: 25px;
    height: 25px;
  }


  .like{
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }

  .text-display{
    background-color: rgba(78, 84, 252, 0.3);
    width: fit-content;
    color: black;
    padding: 8px;
    margin-bottom: 4px;
    margin-top: 20px;
    border-radius: 8px;
  }

  .input-group2{
    margin-bottom: 27px;
    font-size: 11px;
  }

  .button-reply{
    font-size: 9px;
  }

  .likesCount{
    font-size:11px;
  }

  .num-display {
    padding: 0px;
  }


  

}
