/* END FOUND IT APP*/
.title {
    color: rgb(245, 126, 126);
    font-size: 90px;
    letter-spacing: 9px;
    cursor: pointer;
    justify-self: flex-start;
    margin: auto;
    margin-top: 20px;
    position: relative;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    text-shadow: 4px 4px rgba(0, 0, 0, .6);
    
}
.title p{
  text-shadow: 20px 20px 20px 5px rgba(0, 0, 0, .9);  
}


.title::before {
    content: '';
    position: absolute;
    width: 96%;
    height: 7px;
    top: 130px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, .9);
}



/* END PROJECT TITLE */

@media (max-width: 930px){
    .title {
        font-size: 75px;
    }
    .title::before {
        top: 100px;
    }
    .title::after {
        font-size: 29px;
        top: -20px;
    }
}
@media (max-width: 760px){
    .title {
        font-size: 60px;
    }
    .title::before {
        top: 85px;
    }
    .title::after {
        font-size: 20px;
        top: -15px;
    }
}
@media (max-width: 500px){
    .title {
        font-size: 40px;
        letter-spacing: 3.5px;
    }
    .title::before {
        top: 65px;
    }
    .title::after {
        font-size: 17px;
        top: -15px;
    }
}